.UpdateAthleteModal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(0,0,0,0.25);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Modal {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.5rem;
    gap: 10px;
    min-width: 400px;
    max-width: 600px;
}


.Checkbox {
    align-self: flex-start;
}